@{
    ViewData["Title"] = "Departments";
}

<section id="departments" class="departments section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Medical Specialties</h2>
        <p>Browse our network of healthcare professionals across multiple specialties</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">Cardiology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">Neurology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">Hepatology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">Pediatrics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">Eye Care</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="departments-tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Cardiology</h3>
                                <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente...</p>
                                <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint...</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/assets/img/departments-1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <!-- باقي التابات زي ما هي بنفس الكود مع تعديل src لصور بـ ~/assets/... -->

                </div>
            </div>
        </div>

    </div>

</section>
