@{
    ViewData["Title"] = "Doctors";
}

<section id="doctors" class="doctors section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Featured Healthcare Professionals</h2>
        <p>Meet some of our qualified doctors available for appointments</p>
    </div>

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member d-flex align-items-start">
                    <div class="pic">
                        <img src="~/assets/img/doctors/doctors-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Walter White</h4>
                        <span>Chief Medical Officer</span>
                        <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                    </div>
                </div>
            </div>

            <!-- باقي الدكاترة بنفس الكود بتاعك مع تعديل src إلى ~/assets/... -->

        </div>

    </div>

</section>
